.playerInfo {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  align-items: flex-start;
}
@media screen and (min-width: 580px) {
  .playerInfo {
    flex-wrap: wrap;
    height: 18rem;
  }
  .playerAvatar {
    max-width: 18rem;
    height: 16rem;
  }
}

.playerAvatar {
  max-width: 16rem;
}

.playerName {
  font-size: 2rem;
}

.mmr {
  margin: 0.5rem 0;
}
